#search{
    font-size: 30px;
}
#search input{
    font-size: 20px;
    width: 200px;
} 
.left {
    color: green;
    position: absolute;
    left: 60px;
    top: 20px;
    font-family: "fraunces";
    font-size: 40px;
}
.right{
    position: absolute;
    right: 34px;
    top: 5px;
    display: inline-block;
}
.navbar li{
    color: white;
    display: inline-block;
    font-size: 30px;
    padding: 34px 23px;
}
.active{
    color: gold;
    text-decoration: none;
}
.other{
    color: black;
    text-decoration: none;
}
:root{
    --white: hsl(0, 0%, 100%);
    --text: hsl(228,12%,48%);
    --pale: hsl(32,37%,92%);
    --green: hsl(158,36%,37%);
    --header-text: hsl(212,21%,14%);
}
*{
    margin: 0;
}
body{
    background-color: var(--pale);
}
#header-img{
    width: 70px;
    object-fit: contain;
}
#nav-bar{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: var(--white);
    padding: 10px;
}
.nav-links{
    display: flex;
    list-style: none;
}
.nav-links a{
margin-left: 20px;
font-size: large;
font-family: "fraunces";
text-decoration: none;
color: var(--text);
padding: 0 10px;
}
.logo-container{
    display: flex;
    align-items: center;
}
.the-product{
    font-size: 30px;
    margin-left: 2px;
    font-weight: 700;
    font-family: "montserrat";
}
#email-section{
    margin-top: 100px;
}
input{
    padding: 8px;
    border-radius: 5px;
    border: 1px solid var(--green);
}
section::before{
    display: block;
    content: " ";
    margin-top: -100px;
    height: 100px;
    visibility: hidden;
    pointer-events: none;
}
section{
    margin: 40px 20px;
    text-align: center;
}
#submit{
    background-color: var(--green);
    color: var(--white);
    cursor: pointer;
}
h2{
    font-family: "fraunces";
    margin-bottom: 10px;
    margin-top: 15px;
}
.icon{
    color: var(--green);
    margin-right: 30px;
}
#features{
    text-align: left;
    max-width: 800px;
    margin: auto;
}
.feature{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    font-family: "fraunces";
}
#video{
    width: 45%;
    height: 340px;
}
.product-image{
    width: 60%;
    margin:auto;
    height: 520px;
    background-repeat: no-repeat;
    background-size: cover;
}
.product-image.product1{
    width: 63%;
    height: 300px;
    margin-bottom: 50px;
    background-image: url(https://static-01.daraz.com.np/p/3a236f8e4bd727a69927f2c9a809d0a2.png);
}
.product-image.product2{
    width: 63%;
    height: 300px;
    margin-bottom: 80px;
    background-image: url(https://static-01.daraz.com.np/p/45d18d491b97da3809209ef753ad745d.png_750x750.jpg_.webp);
}
.product-image.product3{
    width: 63%;
    height: 300px;
    margin-bottom: 50px;
    background-image: url(https://static.toiimg.com/thumb/resizemode-4,msid-88129314,imgsize-200,width-380/88129314.jpg);
}
.product-image.product4{
    width: 63%;
    height: 280px;
    margin-bottom: 150px;
    background-image: url(https://store.hifuturegroup.com/cdn/shop/products/Blue5.jpg?v=1667809483);
}
.product-image.product5{
    width: 63%;
    height: 300px;
    margin-bottom: 80px;
    background-image: url(https://neostore.com.np/assets/uploads/w16_2.jpg);
}
.product-image.product6{
    width: 70%;
    height: 350px;
    margin-bottom: 80px;
    background-image: url(https://neostore.com.np/assets/uploads/hfzone_2.jpg);
}

.card{
    background-color: var(--white);
    border-radius: 10px;
    width: 40%;
    margin: auto;
    margin-bottom: 10px;
}
.inner-card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
}
.content{
    font-family: "montserrat";
    color: var(--text);
    margin-bottom: 10px;
}
.flex{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.main-price{
    margin-right: 20px;
    font-size: 30px;
    font-family: "fraunces";
    color: var(--green);
}
.old-price{
    text-decoration: line-through;
    color: var(--text);
}
.author{
    font-family: "montserrat";
    letter-spacing: 5px;
    color: var(--text);
    text-transform: uppercase;
}
.header{
    font-family: "fraunces";
    font-size: 30px;
    margin: 10px 0;
    color: var(--header-text);
}
.add{
    background-color: var(--green);
    cursor: pointer;
    padding: 15px;
    border: none;
    border-radius: 10px;
    width:100%;
    color: var(--white);
    font-family: "montserrat";
    font-weight: 700;
    display: flex;
    margin-bottom: 10px;
}
@media only screen and (min-width: 600px){
    #nav-bar{
        flex-direction: row;
    }
}
@media only screen and (450px < width < 600px){
    .card{
        font-size: 0.85rem;
    }
    .product-image{
        height: 400px;
    }
}
@media only screen and (450px <= width){
    .card{
        display: flex;
        max-width: 525px;
    }
    .inner-card{
        width: 270px;
        padding: 20px;
    }
    .product-image{
        height: 400px;
        border-radius: 10px 0 0 10px;
    }
    
}
@media only screen and (max-width:1100px){
    .the-product{
        font-size: 25px;
        margin-left: 2px;
        font-weight: 700;
        font-family: "montserrat";
    }
    #nav-bar{
        position: absolute;
    }
    .left div{
        position: absolute;
        top: -7px;
        left: -56px;
        color: green;
        font-size: 12.4px;
        text-align: center;
    }
    #header-img{
        margin-left: 15px;
    }
    .profile img{
        left: -35px;
        position: absolute;
        margin: -35px 95px;
        width: 120px;
    }
    .freebie img{
        position: absolute;
        width: 60px;
        left: 300px;
        top: 80px;
    }
    .navbar li{
        color: white;
        display: inline-block;
        font-size: 15px;
        padding: 60px 10px;
    }
    .nav-links a{
        display: none;
        text-decoration: none;
        padding: 0 10px;
        color: var(--base-100);
    }
    .card{
        background-color: var(--white);
        border-radius: 10px;
        width: 100%;
        margin: auto;
        margin-bottom: 10px;
    }
    .product-image{
        width: 45%;
        margin:auto;
        height: 230px;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .product-image.product1{
        width: 90%;
        height: 300px;
        margin-bottom: 20px;
        background-image: url(https://static-01.daraz.com.np/p/3a236f8e4bd727a69927f2c9a809d0a2.png);
    }
    .product-image.product2{
        width: 90%;
        height: 300px;
        margin-bottom: 20px;
        background-image: url(https://static-01.daraz.com.np/p/45d18d491b97da3809209ef753ad745d.png_750x750.jpg_.webp);
    }
    .product-image.product3{
        width: 90%;
        height: 300px;
        margin-bottom: 20px;
        background-image: url(https://static.toiimg.com/thumb/resizemode-4,msid-88129314,imgsize-200,width-380/88129314.jpg);
    }
    .product-image.product4{
        width: 90%;
        height: 300px;
        margin-bottom: 20px;
        background-image: url(https://store.hifuturegroup.com/cdn/shop/products/Blue5.jpg?v=1667809483);
    }
    .product-image.product5{
        width: 90%;
        height: 300px;
        margin-bottom: 20px;
        background-image: url(https://neostore.com.np/assets/uploads/w16_2.jpg);
    }
    .product-image.product6{
        width: 90%;
        height: 300px;
        margin-bottom: 20px;
        background-image: url(https://store.hifuturegroup.com/cdn/shop/products/zone_-1_8e7711ae-3912-4871-b263-93b8394a6472.jpg?v=1661849911);
    }
    #video{
        width: 100%;
        height: 210px;
    }
}
@media only screen and (max-width:1100px) and (orientation:landscape){
    .left div{
        position: absolute;
        top: -10px;
        left: -20px;
        color: green;
        font-size: 20px;
        text-align: center;
    }
    .product-image{
        width: 45%;
        margin:auto;
        height: 350px;
        border: 1px solid var(--text);
        border-radius: 10px 10px 0 0;
        background-repeat: no-repeat;
        background-size: cover;
    }
}
